<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap = "http://phonegap.com/ns/1.0"

    id        = "com.holeintheroof.wccctv"

    versionCode="3" 

    version   = "1.2">


    <name>WCCC.TV</name>


    <description>

        Download the WCCC.TV mobile app to have featured videos available right from your smartphone or tablet.

        Check us out on our website: http://wccc.tv    

    </description>

    <author href="http://holeintheroof.com" email="nate@holeintheroof.com">

        Hole in the Roof Marketing, Inc.

    </author>

    <icon src="img/touch/icon.png" width="57" height="57"/>

    <icon src="img/touch/icon-72.png" gap:platform="ios" width="72" height="72"/>

    <icon src="img/touch/icon_at_2x.png" width="114" height="114"/>


    <gap:splash src="img/startup/splash.png" gap:platform="android" />
    
    <gap:splash src="img/startup/splash.png" width="320" height="460" />

    <gap:splash src="img/startup/startup-retina.png" width="640" height="960" />

    <gap:splash src="img/startup/startup-tablet-landscape.png" width="1024" height="768" />

    <gap:splash src="img/startup/startup-tablet-portrait.png" width="768" height="1004" />

    <gap:splash src="img/startup/startup-tablet-landscape-retina.png" width="2048" height="1496" />

    <gap:splash src="img/startup/startup-tablet-portrait-retina.png" width="1536" height="2008" />

    
    <preference name="stay-in-webview" value="true" />

    <preference name="exit-on-suspend" value="true" />

    <access origin="*" />

</widget>